
/********** sign up ************/
.content input[type=text], .content input[type=email], .content input[type=tel], .content select, .content input[type=num]{
 width: 100%;
  padding: 15px 5px;    
  margin: 5px 0 20px 0;   
  border-radius: 7px;    
  display: inline-block;
  border: none;
  background: #f1f1f1;
}



/* Add a background color when the inputs get focus */
input[type=text]:focus ,input[type=email]:focus,input[type=tel]:focus,input[type=num]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for all buttons */
#submitform{
  background-color: dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  position: relative;
  left: 150px;    
  border-radius: 7px; 
  margin-left: 55px;    
}

#submitform:hover{
    background-color: red;
    color: black;
}


.

/* Add padding to container elements */
.container {
 
}

/* The Modal (background) */
.maincontent {
  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: url(../Images/b.jpg);
    padding-top: 50px;
}

.maincontent h1{
    background-color: aliceblue;
    text-align: center;
}

table{
    margin-top: -120px;
    width: 100%;
    padding: 10px;
    
}

select{
    font-size: 18px;
    width: 100%;
}
/* Modal Content/Box */
.content {
   padding: 0 16px;
  font-size: 23px;    
  background-color: #3dcd58;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid black;
     
      -webkit-box-shadow: 10px 4px 19px 2px rgba(28,168,168,1);
-moz-box-shadow: 10px 4px 19px 2px rgba(28,168,168,1);
box-shadow: 10px 4px 19px 2px rgba(28,168,168,1);
 
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid black;
  margin-bottom: 25px;
}
 
